{% extends 'base.twig.html' %}

{% block title %}BSfrS - Inauguration{% endblock %}
{% block keywords %}Inauguration, Vorstellung, Einsatz, rautavistische Software{% endblock %}
{% block description %}Die Beratungsstelle für rautavistische Software feiert ihre Einsetzung.{% endblock %}

{% block og_title %}BSfrS - Inauguration{% endblock %}
{% block og_description %}Die Beratungsstelle für rautavistische Software feiert ihre Einsetzung.{% endblock %}
{% block og_url %}https://www.bsfrs.de/abhandlung/inauguration{% endblock %}
{% block og_image %}https://www.bsfrs.de/img/inauguration2.jpg{% endblock %}

{% block body %}
   <section id="intro" class="clearfix">
    <div class="container">
      <div class="intro-img">
        <img src="/img/about-img.svg" alt="" class="img-fluid">
      </div>
      <div class="intro-info">
        <h2>Die<br/><span>Inauguration</span><br/>der BSfrS</h2>
        <p>Die weltweit erste Beratungsstelle für rautavistische Software feiert ihre Einsetzung.</p>
        <div>
          <a href="#about" class="btn-get-started scrollto">Lesen sie weiter..</a>
          <a href="/#intro" class="btn-services scrollto">zur Startseite</a>
        </div>
      </div>

    </div>
  </section>

  <main id="main">
    <section id="about">
      <div class="container">
         <header class="section-header">
          <h3>Lorem ipsum...</h3>
          <p>dolor sit amet, consectetur adipiscing elit. Mauris in varius nunc, nec porta felis. Mauris sodales nisi at venenatis dictum. Proin in est ultrices, feugiat ante nec, efficitur tortor. Ut turpis eros, ullamcorper sit amet euismod et, congue a risus. </p>
        </header>
      </div>
    </section>
  </main>
{% endblock %}