{% extends 'base.twig.html' %}

{% block alternate_de %}https://www.bsfrs.de/abhandlung/produktivitaet-und-prozess-qualitaet{% endblock %}
{% block alternate_en %}https://www.bsfrs.de/en/paper/productivity-and-process-quality{% endblock %}

{% block title %}BSfrS - Senkung der Produktivität und Prozess-Qualität{% endblock %}
{% block keywords %}Rautavistik, Vorgehensweisen, Methoden, rautavistische Software, Entwicklungsprozess, Software-Entwicklung{% endblock %}
{% block description %}Die Beratungsstelle für rautavistische Software informiert über Methoden zur Senkung der Produktivität und der Prozess-Qualität.{% endblock %}

{% block og_title %}BSfrS - Senkung der Produktivität und Prozess-Qualität{% endblock %}
{% block og_description %}Die BSfrS informiert über Methoden zur Senkung der Produktivität und der Prozess-Qualität.{% endblock %}
{% block og_url %}https://www.bsfrs.de/abhandlung/produktivitaet-und-prozess-qualitaet{% endblock %}
{% block og_image %}https://www.bsfrs.de/img/produktivitaet-und-prozess-qualitaet.jpg{% endblock %}

{% block body %}
   <section id="intro" class="clearfix">
    <div class="container">
      <div class="intro-img">
        <img src="/img/about-extra-2.svg" alt="Am Computer arbeitende Personen" class="img-fluid">
      </div>
      <div class="intro-info">
        <h2>Senkung der<br/><span>Produktivität</span> und<br/>Prozess-Qualität</h2>
        <p>Das Hauptaugenmerk unserer Arbeit legen wir gezielt auf die Senkung der Produktiviät ihrer Mitarbeiter und die Qualitätsminimierung ihrer Entwicklungsprozesse.</p>
        <div>
          <a href="#about" class="btn-get-started scrollto">Lesen sie weiter...</a>
          <a href="/#services" class="btn-services scrollto">alle Leistungen</a>
        </div>
      </div>

    </div>
  </section>

  <main id="main">
    <section id="about">
      <div class="container">
         <header class="section-header">
          <h3>Der Weg ist das Ziel</h3>
          <p>Nicht das letzendliche Produkt steht bei einer ganzheitlichen Rautavistik im Mittelpunkt, sondern der Unterhaltungswert der Tätigkeit. Wir von der BSfrS sind davon überzeugt, dass Sie nicht Arbeiten sollten um zu leben, sondern dass sie arbeiten um dabei Spaß zu haben!</p>
        </header>
      </div>
    </section>

    <section id="services" class="section-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title">Wir sorgen dafür, dass sie und ihre Mitarbeiter unproduktiv werden!</h4>
              <p class="description">
                Rautavistische Software-Entwicklung soll vor allem Vergnügung bereiten, darum legen wir das Hauptaugenmerk gezielt auf die Senkung der Produktiviät ihrer Mitarbeiter durch Qualitätsminimierung ihrer Entwicklungsprozesse. Um dies zu erreichen, haben wir von der BSfrS verschiedene hocheffektive Vorgehensweisen und Methoden erarbeitet. Wir wenden diese in unserer Organisation selbst an und können daher aus eigener Erfahrung berichten, dass bei strikter Anwendung dieser Praktiken so gut wie gar nichts mehr funktioniert.
              </p>
              <h5 class="title">Improvisation, Integration, Iteration, Iteration und Iteration unötiger Arbeitsschritte:</h5>
              <p class="description">
                Eine einfach zu erlernende Methode für die Produktivitätsminimierung ist das Improvisieren unnötiger Arbeitsschritte. Tun sie also einfach spontan irgendetwas anderes als das, was sie eigentlich erledigen sollten. Ausgedehnte Kaffee- und Mittagspausen sind dafür schonmal ein guter Anfang, aber auch das Surfen im Netz, Chatten und Videostreaming sind sehr gute Alternativen.<br/>
                <br/>
                Sobald sie es geschafft haben regelmäßig unnötige Arbeitschritte in ihren Alltag zu integrieren, können sie die Produktivität nochmals deutlich senken, indem sie über diese iterieren. Die Anzahl der Wiederholungen ist dabei jedem selbst überlassen, aber als Faustregel gilt: Je mehr, desto besser, denn repititive Handlungen beruhigen ungemein! Auch rekursive Workflows haben sich als effektivst erwiesen, wenn es um die Reduzierung der Arbeitsleistung geht.<br/>
              </p>
              <h6 class="title">Kolaborationstools</h6>
              <p class="description">
                Vermeiden sie es Kolaborations- und Ticketsysteme wie JIRA, Mantis, trac oder Trello zu benutzen. Diese lenken sie nur vom Improvisieren ab und verhindern, dass ein und die selbe Aufgabe parallel von mehreren Mitarbeiten gleichzeitig erledigt wird.
              </p>
              <h6 class="title">Versionsverwaltungssysteme</h6>
              <p class="description">
                In diesem Kontext wird strengestens vom Einsatz von Softwareversionsverwaltungssystemen abgeraten. Diese verhindern nämlich leider, dass Arbeitsergebnisse abhanden kommen und sie den selben Code mehrfach schreiben müssen. Das Arbeiten über (S)FTP, SSH oder SCP, direkt am offenen Herzen ihres Produktivsystems hat sich als äußerst spannend erwiesen, wenn sie in einem größeren Team arbeiten: Spüren sie den Nervenkitzel bei diesen Operationen und klopfen Sie sich selbst auf die Schulter wenn der Patient trotz allem überlebt! Falls sie es dennoch nicht lassen können mit einer Versionierung zu arbeiten, empfielt es sich desöfteren Befehle wie <span class="code">git checkout .</span> oder <span class="code">git reset --hard HEAD^^^^^^</span> und <span class="code">git push --force</span> auszuführen.
              </p>
              <h6 class="title">Entwicklungsumgebungen</h6>
              <p class="description">
                Es ist ratsam viele verschiedene Editoren und IDEs sowohl abwechselnd als auch parallel zu nutzen. So lernen sie zum einen neue Tools kennen und zum anderen verschwenden sie damit zumindest schonmal ein bisschen Speicherplatz auf ihrem Laufwerk.<br/>
                <br/>
                Bearbeiten Sie ihren Quellcode zukünftig mal mit Notepad, mal mit VistualStudio, mal über die Commandline und falls sie obwohl wir davon abraten, eine Versionsverwaltung mit Webinterface nutzen, gerne auch direkt an dieser Stelle. Öffnen sie bestenfalls die selbe Datei gleichzeitig in mehreren Editoren, um mit voller Absicht die Änderungen der zusätzlichen Instanzen zu überschreiben und senken Sie so optimal ihre eigene Produktivität!
              </p>

              <h5 class="title">Weitere Leistungen auf welche wir zukünftig näher eingehen werden:</h5>
              <p class="description">
                <ul class="list">
                  <li>Erarbeitung und Anwendung von Worst-Practices</li>
                  <li>rautavistische Softwaredokumentation</li>
                  <li>repititive, kontextlose und keine Quellcode-Kommentare</li>
                  <li>Generierung von zufälligen Code-Segmenten inkl. Ergebnisbeseitigung</li>
                  <li>Einsatz von Tools die den Arbeitsfluss behindern und die Möglichkeiten einschränken</li>
                  <li>Manuelle Build- und Deployment Systeme sowie Fake-Monitoring</li>
                  <li>Unsemantische Versionierung: Konstante und wahllose Versions-Nummern</li>
                  <li>Schaffung von Inselwissen und nicht austauschbaren Komponenten</li>
                  <li>Vergabe rautavistischer Variablen-, Klassen- und Methoden-Namen</li>
                  <li>Umsetzung gemischtsprachigen Quell-Codes</li>
                  <li>Ineffiziente Reimplementierung nativer Funktionen</li>
                  <li>Die Qual der Wahl: Exotische Programmiersprachen und schlecht dokumentierte Frameworks</li>
                  <li>Reduzierung der Les- und Wartbarkeit mittels Rerefaktorisierung</li>
                </ul>

                <a class="btn btn-more" href="/#services" title="Senkung der Produktiviät und Prozess-Qualität">Alle Leistungen</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}