{% extends 'base.twig.html' %}
{% use 'en.base.twig.html' %}

{% block title %}BSfrS - Reduction of productivity and process quality{% endblock %}
{% block keywords %}rautavistics, rautavism, procedures, methods, rautavistic software, development process, software development{% endblock %}
{% block description %}The Consulting Center for rautavistic software informs about methods to reduce productivity and process quality.{% endblock %}
{% block og_title %}BSfrS - Reduction of productivity and process quality{% endblock %}
{% block og_description %}DThe Consulting Center for rautavistic software informs about methods to reduce productivity and process quality.{% endblock %}
{% block og_url %}https://www.bsfrs.de/en/paper/productivity-and-process-quality{% endblock %}
{% block og_image %}https://www.bsfrs.de/img/productivity-and-process-quality.jpg{% endblock %}

{% block body %}
   <section id="intro" class="clearfix">
    <div class="container">
      <div class="intro-img">
        <img src="/img/about-extra-2.svg" alt="Am Computer arbeitende Personen" class="img-fluid">
      </div>
      <div class="intro-info">
        <h2>Reduction of <br/><span>productivity</span><br/>and process quality</h2>
        <p>The main focus of our work is on reducing the productivity of your employees and minimizing the quality of their development processes.</p>
        <div>
          <a href="#about" class="btn-get-started scrollto">Read more...</a>
          <a href="/en/#services" class="btn-services scrollto">all services</a>
        </div>
      </div>

    </div>
  </section>

  <main id="main">
    <section id="about">
      <div class="container">
         <header class="section-header">
          <h3>The way is the goal</h3>
          <p>It is not the final product that is at the centre of holistic rautavistics, but the entertainment value of the activity. We at BSfrS are convinced that you should not work to live, but that you should work to have fun!</p>
        </header>
      </div>
    </section>

    <section id="services" class="section-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title">We make sure that you and your employees become unproductive!</h4>
              <p class="description">
                Rautavistic software development should above all be fun, which is why we focus on reducing the productivity of your employees by minimizing the quality of their development processes. In order to achieve this, we at BSfrS have developed various highly effective procedures and methods. We apply these in our own organisation and can therefore report from our own experience that if these practices are strictly applied, virtually nothing will work.
              </p>
              <h5 class="title">Improvisation, integration, iteration, iteration and iteration of unnecessary tasks:</h5>
              <p class="description">
                An easy to learn method for productivity minimization is improvising unnecessary work steps. So just spontaneously do something other than what you're supposed to do. Avoid using collaboration and ticket systems like JIRA, Mantis, trac or Trello. These only distract you from improvising and prevent one and the same task from being done by several people at the same time.<br/>
                <br/>
                As soon as they have managed to regularly integrate unnecessary work steps into their everyday lives, they can further significantly reduce productivity by iterating over them. The number of repetitions is up to you, but the rule of thumb is: the more, the better, because repetitive actions calm you down immensely! Recursive workflows have also proven to be most effective when it comes to reducing work performance.<br/>
                <br/>
                In this context, the use of software version management systems is strictly discouraged. Unfortunately, these systems prevent them from having to write the same code several times. If you still can't let them work with versioning, it is often recommended to use commands like <span class="code">git checkout .</span> or <span class="code">git reset --hard HEAD^^^^^^</span> and <span class="code">git push --force</span>.
              </p>
              <h5 class="title">Further services which we will deal with in more detail in the future:</h5>
              <p class="description">
                <ul class="list">
                  <li>development und utilization of worst-practices</li>
                  <li>rautavistic software documentation</li>
                  <li>repititive, contextless and no sourcecode comments</li>
                  <li>generation of random code segments incl. disposal of results</li>
                  <li>application of tools interfering the workflow and limiting the possibilities</li>
                  <li>manual build- and deployment systems as well as fake-monitoring</li>
                  <li>unsemantic versioning: constant und random version numbers</li>
                  <li>creating half knowledge and irreplaceable components</li>
                  <li>placing of rautavistic variable-, class- and method-names</li>
                  <li>implementation of multilingual sourcecode</li>
                  <li>inefficient reimplementation of native functions</li>
                  <li>exotic programming languages and badly documented frameworks</li>
                  <li>reduction of readability and maintainability using rerefactoring</li>
                </ul>

                <a class="btn btn-more" href="/#services" title="Senkung der Produktiviät und Prozess-Qualität">all services</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}