{% extends 'base.twig.html' %}

{% block body %}

<!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="Intro Illustration" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Beratungsstelle für<br><span>rautavistische</span><br>Software</h2>
        <p>gemeinnützige Organisation für Forschung, Beratung und Schulung.</p>
        <div>
          <a href="#about" class="btn-get-started scrollto">Los geht's</a>
          <a href="#services" class="btn-services scrollto">Unsere Leistungen</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Schade, dass Sie hier sind!</h3>
          <p>Wir sind die weltweit erste und einzige Beratungsstelle für rautavistische Software. Als internationale Pioniere auf diesem Gebiet haben sie mit uns einen hochgradig phlegmatischen Partner an ihrer Seite.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
               Sollten sie sich dennoch genötigt fühlen weiter zu lesen, können wir sie aufgrund der Architektur des <em title="World Wide Web">Welt Weiten geWebes</em> leider nicht davon abhalten. Nichtsdestotrotz geben wir unser Bestes, ihnen den Aufenthalt auf unserer <em title="Homepage">Heimseite</em> möglichst unangenehm zu gestalten und bitten sie eindringlichst darum, dieser in Zukunft fern zu bleiben!
            </p>

            <div class="icon-box wow fadeInUp">
              <a href="http://www.google.de" target="_blank">
                <div class="icon"><i class="fa fa-mouse-pointer"></i></div>
                <h4 class="title">google.de</h4>
                <p class="description">In ihrer (und seiner) Landesprache finden sie (und er) hier ganz bestimmt deutlich interessantere Themen.</p>
              </a>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <a href="http://google.com" target="_blank">
                <div class="icon"><i class="fa fa-google"></i></div>
                <h4 class="title">google.com</h4>
                <p class="description">Dasselbe Angebot finden sie hier auch in englischer Sprache.<br/><em>(ps: wir lehnen Anglizismus prinzipiell ab)</em></p>
              </a>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <a href="http://duckduckgo.com" target="_blank">
                <div class="icon"><i class="fa fa-taxi"></i></div>
                <h4 class="title">duckduckgo.com</h4>
                <p class="description">Oder versuchen sie es in Entenhausen. Donald und Dagobert können ihnen sicherlich ebenfalls einiges erzählen.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.svg" class="img-fluid" alt="Gruppe von Personen mit einem Hund">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.svg" class="img-fluid" alt="Nachdenkende Frau am Schreibtisch">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>&bdquo;Die Rautavistik ist die Lehre von den rautavistischen Dingen&rdquo;</h4>
            <p>
              Wir beraten sie gerne bezüglich rautavistischer Software-Projekte, <nobr>-Architekturen</nobr>, <nobr>-Vorgehensweisen</nobr>, <nobr>-Entwicklung</nobr>, <nobr>-Programmierung</nobr> und nicht zuletzt ihrem rautavistischen Software-Produkt. Auch mit IrD (Internet rautavistischer Dinge) kennen wir uns bestens aus. Die Bereitstellung dieses <em title="Web-Auftritt">Gewebe-Auftritts</em> wie auch unsere Dienstleistungen unterliegen strengstens der Rautavistik. Somit gewährleisten wir stets eine äußerst überschaubare und weiterhin minderbare Qualität!
            </p>
            <p>
              Wenn sie noch keine Vorkenntnisse in der Rautavistik besitzen, sind sie hier wahrscheinlich falsch. Immatrikulieren sie sich bitte zunächst an der <a title="Emergency exception: No title was given." href="http://www.ru-eschweilerhof.de/">Rautavistischen Universität Eschweilerhof</a> oder lesen sie sich zumindest in das <a alt="missing alt attribute" title="The information is most often shown as a tooltip text when the mouse moves over the element." target="_blank" href="http://www.rautavistik.de/">Thema</a> ein.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="Arbeitende Personen">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Straßenkarte</h4>
            <p>
             Bitte haben sie verständnis dafür, dass sich diese <em title="Online-Präsenz">angeschlossene Präsenz</em> derzeit noch im Aufbau befindet und auch noch keine vollständige <em title="Roadmap">Straßenkarte</em> erarbeitet wurde. Wir haben auch nicht wirklich einen Plan, aber immerhin sind wir ehrlich!<br/>
             <br/>
             Falls sie unabdinglich eine Straßenkarte benötigen, finden sie mit Sicherheit eine auf <a target="_blank" href="https://www.openstreetmap.org" title="openstreetmap">https://www.openstreetmap.org</a>.
           </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Unsere Leistungen</h3>
          <p>Wir haben uns der Forschung, Beratung und Schulung im Bereich der <span class="code"> '#'.rtrim('e').concat('avatisischen');</span> Software verschrieben.</p>
        </header>

        <div class="row">

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="/abhandlung/produktivitaet-und-prozess-qualitaet" title="Wir sorgen dafür, dass sie und ihre Mitarbeiter unproduktiv werden!">Senkung der Produktiviät und Prozess-Qualität</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Improvisation, Integration, Iteration, Iteration und Iteration unötiger Arbeitsschritte</li>
                  <li>Erarbeitung und Anwendung von Worst-Practices</li>
                  <li>rautavistische Softwaredokumentation</li>
                  <li>repititive, kontextlose und keine Quellcode-Kommentare</li>
                  <li>Generierung von zufälligen Code-Segmenten inkl. Ergebnisbeseitigung</li>
                  <li>Einsatz von Tools die den Arbeitsfluss behindern und die Möglichkeiten einschränken</li>
                  <li>Manuelle Build- und Deployment Systeme sowie Fake-Monitoring</li>
                  <li>Unsemantische Versionierung: Konstante und wahllose Versions-Nummern</li>
                  <li>Schaffung von Inselwissen und nicht austauschbaren Komponenten</li>
                  <li>Vergabe rautavistischer Variablen-, Klassen- und Methoden-Namen</li>
                  <li>Umsetzung gemischtsprachigen Quell-Codes</li>
                  <li>Ineffiziente Reimplementierung nativer Funktionen</li>
                  <li>Die Qual der Wahl: Exotische Programmiersprachen und schlecht dokumentierte Frameworks</li>
                  <li>Reduzierung der Les- und Wartbarkeit mittels Rerefaktorisierung</li>
                </ul>

                <a class="btn btn-more" href="/abhandlung/produktivitaet-und-prozess-qualitaet" title="Wir sorgen dafür, dass sie und ihre Mitarbeiter unproduktiv werden!">mehr lesen</a>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Manipulation der Laufzeitumgebung für unvorhersehbare Konsequenzen</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Erarbeitung und Betrieb von Continuous Desintegration</li>
                  <li>Möglichkeiten der Laufzeitverschlechterung</li>
                  <li>Steigerung der Hardwarebelastung für Client und Server</li>
                  <li>Methoden zur Speicherplatzverschwendung</li>
                  <li>Forcierung von Worst-Case Szenarios</li>
                </ul>                
              </p>
            </div>
          </div>


          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Minimierung der Usability und Produkt-Qualität</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Symptombehandlung statt Problemanalyse: Quickhacks und Workarounds</li>
                  <li>Design einer ausladenden Benutzeroberfläche</li>
                  <li>Entwicklung von Algorithmen die rein gar nichts tun</li>
                  <li>Implementierung von Anti-Pattern</li>
                  <li>Entwurf einer möglichst nervenraubenden User-Experience</li>
                  <li>Zufällige Exceptions und Ausgabe desinformativer Fehlermeldungen</li>
                  <li>Einbindung nicht genutzer Software-Bibliotheken</li>
                  <li>Ladezeiten- und Kostenmaximierung durch Trafficverschwendung</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Vernachlässigung von Sicherheit und Datenschutz</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Ausweitung von Sicherheitslücken durch Nutzung veralteter Pakete</li>
                  <li>Verwendung von öffentlichen Code-Sandboxes zur Sicherung sensibler Daten</li>
                  <li>Kundenbindung durch Vertrauen: Always trust the user input</li>
                  <li>Wir entführen ihren Datenschutzbeauftragen (EU-DSGVO konform)</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Forschung und Entwicklung</a></h4>
              <p class="description">Wir sind stets bemüht neue Erkenntnisse zu erlangen um diese für uns zu behalten. Gerne können sie bei uns auch Studien in Auftrag geben oder Anfragen zur Entwicklung hoch spzialisierter Methoden, Vorgehensweisen und Produkten einreichen, von denen niemand einen Nutzen trägt, im Gegenteil.</p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Beratung und Schulung</a></h4>
              <p class="description">Wir unterstützen Sie gerne bei ihren Software-Projekten und beraten ihre Mitarbeiter von der Managementebene bis hin zum Template-Frickler. Bei entsprechender Nachfrage bieten wir Einzel-Coachings wie auch Kickstart- und Intensiv-Workshops für größere Gruppen an. Wir halten außerdem keinesfalls Vorträge auf renomierten Konferenzen und in Usergroups. Wenden sie sich bei Interesse bitte an jemand anderen!</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Warum die BSfrS?</h3>
          <p>Wir sind mit Sicherheit so gut wie Die PARTEI und außerdem haben wir noch viele weitere Qualitäten die wir offensichtlich nicht zu erwähnen brauchen.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Ein Diamant</h5>
                <p class="card-text">Der ist total hübsch oder? Bling Bling! Jeder mag Diamanten! Und falls nicht können Sie ihn immer noch verkaufen.</p>
                <a href="javascript:void()" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Eine Drehtür</h5>
                <p class="card-text">Chuck Norris kann Drehtüren zuschlagen. Ist nicht der beste Chuck Norris Witz, aber passt zu dem Icon!</p>
                <a href="javascript:void()" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Keine Ahnung</h5>
                <p class="card-text">Wenn man keine Ahnung hat, einfach mal Fresse halten! Wir wissen ehrlich nicht was uns das Symbol sagen will...</p>
                <a href="javascript:void()" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Kunden</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">666</span>
            <p>Projekte</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3,886</span>
            <p>Stunden Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>motivierte Mitarbeiter</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testicles</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="img/testimonial-4.jpg" class="testimonial-img" alt="Portrait von Matthias Brand">
                <h3>Matthias Brand</h3>
                <h4>Nutswinger</h4>
                <p>
                  Ich schaukle gerne meine Testikel und die BSfrS hat auch nicht viel mehr gemacht. Wirklich chillig, gerne wieder!
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="Portrait von Anton Müller">
                <h3>Anton Müller</h3>
                <h4>Teabagger</h4>
                <p>
                  Ich hänge meine Testikel gerne in ein Glas mit heißem Wasser, die Beratungsstelle für rautavistische Software hat damit allerdings wenig zu tun...
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="Portrait von Sarah Wilscheidt">
                <h3>Sarah Wilscheidt</h3>
                <h4>Ballsfondler</h4>
                <p>
                  ja was soll ich sagen, ich liebe Testikel. Besonders die von Anton Müller, der kichert immer so wenn ich ihn dort berühre.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="Portrait von Peter Torz">
                <h3>Peter Torz</h3>
                <h4>Eggthinker</h4>
                <p>
                  Ich habe ein Geschwür an meinen Testikeln, dank der BSfrS komme ich aber schnell auf andere Gedanken und lasse die Therapie schleifen.
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>Diese leute kennen wir nicht im entferntesten, aber wir finden dass Ihre Portraits hier ganz schön was hermachen, oder?</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/diana-klich.jpg" class="img-fluid" alt="Portrait von Diana Klich, der blöden Otze">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Diana Klich</h4>
                  <span>BLÖDE oTZE</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/andreas-linden.jpg" class="img-fluid" alt="Portrait von Andreas Linden">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Andreas Linden</h4>
                  <span>Head of BSfrS, Researcher & Consultant</span>
                  <div class="social">
                    <a target="_blank" href="https://www.xing.com/profile/Andreas_Linden2"><i class="fa fa-xing"></i></a>
                    <a target="_blank" href="https://www.facebook.com/nednil.hcirlu.saerdna"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="Portrait von Willfried Schmitz">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Willfried Schmitz</h4>
                  <span>Feelgood Manager</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="Portrait von Karen Winter">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Karen Winter</h4>
                  <span>Maskottchen</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Unsere unzufriedensten Kunden</h3>
          <p>Bei diesen Kunden haben wir uns besondere Mühe gegeben. Alles was zu tun war, wurde von uns entweder ignoriert, gar nicht erledigt, oder wir haben einfach irgendetwas anderes gemacht. Teilweise wissen unsere Kunden nichteinmal, das wir gar keinen Vertrag mit ihnen haben.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-1.png" class="img-fluid" alt="myob Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-2.png" class="img-fluid" alt="BELIMO Logo">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-3.png" class="img-fluid" alt="LifeGroups Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-4.png" class="img-fluid" alt="Lilly Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-5.png" class="img-fluid" alt="citrus Logo">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-6.png" class="img-fluid" alt="Trustly Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-7.png" class="img-fluid" alt="oldendorff Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-8.png" class="img-fluid" alt="grabyo Logo">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Certifications Section
    ============================-->
    <section id="certifications" class="section-bg">

		<div class="container">

	    <div class="section-header">
	      <h3>Sie können uns vertrauen!</h3>
	      <p>Unsere Erfolge sprechen für sich: Wir sind vielfacher Testsieger und haben uns die folgenden Auszeichnungen, Siegel und Zertifizierungen kurzerhand einfach selbst verliehen. Es war harte Arbeit all diese Logos zu googeln und daraus eine Kollage anzufertigen. Das will schon was heißen!</p>
	    </div>

	    <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

	      <div class="col-lg-12">
	        <div class="certifications-image">
	          <img src="/img/certifications.jpg" class="img-fluid" alt="Unsere Auszeichnungen">
	        </div>
	      </div>

	    </div>

    </section>

  </main>

{% endblock %}