{% extends 'base.twig.html' %}

{% block body %}

<!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Beratungsstelle für<br><span>rautavistische</span><br>Software</h2>
        <p>gemeinnützige Organisation für Forschung, Beratung und Schulung.</p>
        <div>
          <a href="#about" class="btn-get-started scrollto">Los geht's</a>
          <a href="#services" class="btn-services scrollto">Unsere Leistungen</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Schade, dass Sie hier sind!</h3>
          <p>Wenn Sie hier verweilen möchten, können sie (und er) dies <a target="_blank" title="The title attribute specifies extra information about an element." href="http://116.203.139.180/">hier</a> tun.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
               Sollten sie sich dennoch genötigt fühlen weiter zu lesen, können wir sie aufgrund der Architektur des <em title="World Wide Web">Welt Weiten geWebes</em> leider nicht davon abhalten. Nichtsdestotrotz geben wir unser Bestes, ihnen den Aufenthalt auf unserer <em title="Homepage">Heimseite</em> möglichst unangenehm zu gestalten und bitten sie eindringlichst darum, dieser in Zukunft fern zu bleiben!
            </p>

            <div class="icon-box wow fadeInUp">
              <a href="http://www.google.de" target="_blank">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title">google.de</h4>
                <p class="description">In ihrer (und seiner) Landesprache finden sie hier ganz bestimmt so einiges über uns.</p>
              </a>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <a href="http://google.com" target="_blank">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title">google.com</h4>
                <p class="description">unser gesamtes Angebot finden sie auch auf Englisch.<br/><em>(ps: wir lehnen Anglizismus prinzipiell ab)</em></p>
              </a>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <a href="http://duckduckgo.com" target="_blank">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title">duckduckgo.com</h4>
                <p class="description">Oder fragen Sie einfach Donald und Dagobert, die beiden können Ihnen ebebfalls einiges über die BSfrS erzählen.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>&bdquo;Die Rautavistik ist die Lehre von den rautavistischen Dingen&rdquo;</h4>
            <p>
              Wir beraten sie gerne bezüglich rautavistischer Software-Projekte, <nobr>-Architekturen</nobr>, <nobr>-Vorgehensweisen</nobr>, <nobr>-Entwicklung</nobr>, <nobr>-Programmierung</nobr> und nicht zuletzt ihrem rautavistischen Software-Produkt. Auch mit IrD (Internet rautavistischer Dinge) kennen wir uns bestens aus. Die Entwicklung dieses <em title="Web-Auftritt">Gewebe-Auftritts</em> wie auch unsere Beratung selbst unterliegen ebenfalls der Rautavistik. Somit gewährleisten wir stets eine äußerst überschaubare und weiterhin minderbare Qualität!
            </p>
            <p>
              Wenn sie noch keine Vorkenntnisse in der Rautavistik besitzen, sind sie hier wahrscheinlich falsch. Immatrikulieren sie sich bitte zunächst an der <a title="Emergency exception: No title was given." href="http://www.ru-eschweilerhof.de/">Rautavistischen Universität Eschweilerhof</a> oder lesen sie sich zumindest in das <a alt="missing alt attribute" title="The information is most often shown as a tooltip text when the mouse moves over the element." target="_blank" href="http://www.rautavistik.de/">Thema</a> ein.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Straßenkarte</h4>
            <p>
             Bitte haben sie verständnis dafür, dass sich diese <em title="Online-Präsenz">angeschlossene Präsenz</em> derzeit noch im Aufbau befindet und auch noch keine vollständige <em title="Roadmap">Straßenkarte</em> erarbeitet wurde.
           </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Unsere Leistungen</h3>
          <p>Wir haben uns der Forschung, Beratung und Schulung im Bereich der <span class="code"> print '#'.rtrim('e').concat('avatisischen');</span> Software verschrieben.</p>
        </header>

        <div class="row">

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Beratung und Schulung</a></h4>
              <p class="description">Wir unterstützen Sie gerne bei ihren Software-Projekten und beraten ihre Mitarbeiter von der Managementebene bis hin zum Template-Frickler. Bei entsprechender Nachfrage bieten wir Einzel-Coachings wie auch Kickstart- und Intensiv-Workshops für größere Gruppen an. Wir halten außerdem regelmäßig Vortäge auf renomierten Konferenzen und in Usergroups. Wenden sie sich bei Interesse bitte an jemand anderen!</p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Forschung und Entwicklung</a></h4>
              <p class="description">Wir sind stets bemüht neue Erkenntnisse zu erlangen um diese für uns zu behalten. Gerne können sie bei uns auch Studien in Auftrag geben oder Anfragen zur Entwicklung hoch spzialisierter Methoden und Software-Produkten einreichen, von denen niemand einen Nutzen trägt, im Gegenteil.</p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Senknung der Produktiviät und Prozess-Qualität</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Improvisation, Integration, Iteration, Iteration und Iteration unötiger Arbeitsschritte</li>
                  <li>Erarbeitung und Anwendung von Worst-Practices</li>
                  <li>rautavistische Softwaredokumentation</li>
                  <li>repititive, kontextlose und keine Quellcode-Kommentare</li>
                  <li>Generierung von zufälligen Code-Segmenten inkl. Ergebnisbeseitigung</li>
                  <li>Einsatz von Tools die den Arbeitsfluss behindern und die Möglichkeiten einschränken</li>
                  <li>Manuelle Build- und Deployment Systeme sowie Fake-Monitoring</li>
                  <li>Unsemantische Versionierung: Konstante und wahllose Versions-Nummern</li>
                  <li>Schaffung von Inselwissen und nicht austauschbaren Komponenten</li>
                  <li>Vergabe rautavistischer Variablen-, Klassen- und Methoden-Namen</li>
                  <li>Umsetzung gemischtsprachigen Quell-Codes</li>
                  <li>Ineffiziente Reimplementierung nativer Funktionen</li>
                  <li>Die Qual der Wahl: Exotische Programmiersprachen und schlecht dokumentierte Frameworks</li>
                  <li>Reduzierung der Les- und Wartbarkeit mittels Rerefaktorisierung</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Manipulation der Laufzeitumgebung für unvorhersehbare Konsequenzen</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Erarbeitung und Betrieb von Continuous Desintegration</li>
                  <li>Möglichkeiten der Laufzeitverschlechterung</li>
                  <li>Steigerung der Hardwarebelastung für Client und Server</li>
                  <li>Methoden zur Speicherplatzverschwendung</li>
                  <li>Forcierung von Worst-Case Szenarios</li>
                </ul>                
              </p>
            </div>
          </div>


          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Minimierung der Usability und Produkt-Qualität</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Symptombehandlung statt Problemanalyse: Quickhacks und Workarounds</li>
                  <li>Design einer ausladenden Benutzeroberfläche</li>
                  <li>Entwurf von Algorithmen die rein gar nichts tun</li>
                  <li>Implementierung von Anti-Pattern</li>
                  <li>Entwurf einer möglichst nervenraubenden User-Experience</li>
                  <li>Zufällige Exceptions und Ausgabe desinformativer Fehlermeldungen</li>
                  <li>Einbindung nicht genutzer Software-Bibliotheken</li>
                  <li>Ladezeiten- und Kostenmaximierung durch Trafficverschwendung</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Vernachlässigung von Sicherheit und Datenschutz</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Ausweitung von Sicherheitslücken durch Nutzung veralteter Pakete</li>
                  <li>Verwendung von öffentlichen Code-Sandboxes zur Sicherung sensibler Daten</li>
                  <li>Kundenbindung durch Vertrauen: Always trust the user input</li>
                  <li>Wir entführen ihren Datenschutzbeauftragen (EU-DSGVO konform)</li>
                </ul>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Warum die BSfrS?</h3>
          <p>Wir sind sehr gut wie DIE Partei und außerdem haben wir noch viele weitere Qualitäten die wir offensichtlich nicht zu erwähnen brauchen.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Ein Diamant</h5>
                <p class="card-text">Der ist total hübsch oder? Bling bling, jeder mag Diamanten! Und wenn nicht können Sie ihn immer noch verkaufen.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Eine Drehtür</h5>
                <p class="card-text">Chuck Norris kann Drehtüren zuschalgen. Ist nicht der beste Chuck Norris Witz, aber passt zu dem Icon!</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Keine Ahnung</h5>
                <p class="card-text">Wenn man keine Ahnung hat, einfach mal Fresse halten! Ich weiß ehrlich nicht was das Symbol uns sagen soll...</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Kunden</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">666</span>
            <p>Projekte</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3,886</span>
            <p>Stunden Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>motivierte Mitarbeiter</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Portfolio Section
    ============================-->
    <!--
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">App 1</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
                <div>
                  <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
                <div>
                  <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
                <div>
                  <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    -->

    <!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testicels</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Eggswinger</h4>
                <p>
                  Ich schaukle gerne meine Testikel und die BSfrS hat einfach dasselbe gemacht. Chillig, gerne wieder!
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Teabagger</h4>
                <p>
                  Ich hänge meine Testikel gerne in ein Glas mit heißem wasser, die Beratungsstelle für rautavistische Software hat damit allerdings nichts zu tun...
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Ballfondler</h4>
                <p>
                  ja was soll ich sagen, ich mag Testikel. Besonders die von John Larson, der kichert immer so wenn ich seine berühre.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Nutthinker</h4>
                <p>
                  Ich habe ein Geschwür an meinen Testikeln, dank der BSfrS komme ich aber schnell auf andere Gedanken und lasse die Therapie schleifen.
                </p>
              </div>
    
              <!--div class="testimonial-item">
                <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div-->

            </div>
          </div>
        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>Diese leute kennen wir nicht im entferntesten, aber wir finden dass Ihre Portraits hier ganz schön was hermachen, oder?</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/diana-klich.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Diana Klich</h4>
                  <span>Face of BSfrS & Product Manager</span>
                  <div class="social">
                    <!--
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/andreas-linden.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Andreas Linden</h4>
                  <span>Head of BSfrS, Researcher & Consultant</span>
                  <div class="social">
                    <!--a target="_blank" href=""><i class="fa fa-twitter"></i></a-->
                    <!--a target="_blank" href=""><i class="fa fa-google-plus"></i></a-->
                    <a target="_blank" href="https://www.xing.com/profile/Andreas_Linden2"><i class="fa fa-xing"></i></a>
                    <a target="_blank" href="https://www.facebook.com/nednil.hcirlu.saerdna"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <!--
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <!--
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    -->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Unsere unzufriedensten Kunden</h3>
          <p>Bei diesen Kunden haben wir uns besondere Mühe gegeben. Alles was zu tun war, wurde von uns entweder ignoriert, gar nicht erledigt, oder wir haben einfach irgendetwas anderes gemacht.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <!--
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>A108 Adam Street, NY 535022</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>info@example.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+1 5589 55488 55</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section>
    -->
    <!-- #contact -->

  </main>

{% endblock %}