{% extends 'base.twig.html' %}
{% use 'en.base.twig.html' %}

{% block language %}en{% endblock %}
{% block title %}BSfrS: Consulting Center for rautavistic Software{% endblock %}
{% block keywords %}rautavistics, rautavism, rautavistic software, software development, sofware engineering{% endblock %}
{% block description %}The BSfrS supports you with your rautavistic software projects.{% endblock %}
{% block og_url %}https://www.bsfrs.de/en{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_title %}BSfrS: Consulting Center for rautavistic Software{% endblock %}
{% block og_description %}It can be assumed that everything is done when it's done.{% endblock %}
{% block og_image %}https://www.bsfrs.de/img/facebook-post-en.png{% endblock %}


{% block body %}

<!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="Intro illustration" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Consulting Center for<br><span>rautavistic</span><br>Software</h2>
        <p>charitable organisation for research, consulting and education.</p>
        <div>
          <a href="#about" class="btn-get-started scrollto">Let's get started</a>
          <a href="#services" class="btn-services scrollto">Our services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Too bad, you are here!</h3>
          <p>We are the first and only consulting center for rautavistic software in the world. With us as an international pioneer in this field, you've got an extremely phlegmatic partner by your side.
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              If you feel compelled to continue reading, we sadly can not discourage you to do so, due to the architecture of the world wide web. 
              Nonetheless we will do our best, to make your stay on our homepage as uncomfortable as possible and we ask you to absent yourself from it.
            </p>

			<div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <a h1ref="http://google.com" target="_blank">
                <div class="icon"><i class="fa fa-google"></i></div>
                <h4 class="title">google.com</h4>
                <p class="description">You will certainly find much more interesting topics here in your national language.</p>

              </a>
            </div>

            <div class="icon-box wow fadeInUp">
              <a href="http://www.google.de" target="_blank">
                <div class="icon"><i class="fa fa-mouse-pointer"></i></div>
                <h4 class="title">google.de</h4>
                <p class="description">You will find the same offer here in English.<br/><em>(ps: we reject German language in principle)</em></p>
              </a>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <a href="http://duckduckgo.com" target="_blank">
                <div class="icon"><i class="fa fa-taxi"></i></div>
                <h4 class="title">duckduckgo.com</h4>
                <p class="description">Try it in Duckburg. Donald and Dagobert probably can tell you alot of things.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.svg" class="img-fluid" alt="Gruppe von Personen mit einem Hund">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.svg" class="img-fluid" alt="Nachdenkende Frau am Schreibtisch">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>&bdquo;Rautavistics is the science of the rautavistic things&rdquo;</h4>
            <p>
            	We're happy to help you concerning your rautavistic software projects, -architectures, -procedures, -development, -programming and last but not least, your rautavistic software product. Also we're very well versed in IrT (Internet rautavistical Things). The deployment of this online-presentation as well as our services themselves are underlying the rautavism as well. Therefore we always grant a negligible and still reducable quality!
            </p>
            <p>
            	If you have no prior knowledge of rautavistics, you're probably in the wrong place. Then our recommendation for you is to matriculate at the <a title="Emergency exception: No title was given." href="http://www.ru-eschweilerhof.de/">Rautavistischen Universität Eschweilerhof</a>, or at least to read in the <a alt="missing alt attribute" title="The information is most often shown as a tooltip text when the mouse moves over the element." target="_blank" href="http://www.rautavistik.de/">topic</a>
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="Arbeitende Personen">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Roadmap</h4>
            <p>
             Please understand that this online presentation is still under construction and that no complete roadmap has been developed yet. We don't really have a plan either, but at least we're honest!<br/>
             <br/>
             If you need a roadmap, you will surely find one on <a target="_blank" href="https://www.openstreetmap.org" title="openstreetmap">https://www.openstreetmap.org</a>.
           </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Our Services</h3>
          <p>We exclusively committed to research, consulting and education in the wide field of rautavistic software.</p>
        </header>

        <div class="row">

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="/en/paper/productivity-and-process-quality" title="We make sure that you and your employees become unproductive!">Decrease of productivity and process-quality</a></h4>
              <p class="description">
                <ul class="list">
                  <li>improvisation, integration, iteration, iteration and iteration of unnecessary tasks</li>
                  <li>development and utilization of worst-practices</li>
                  <li>rautavistic software documentation</li>
                  <li>repititive, contextless and no sourcecode comments</li>
                  <li>generation of random code segments incl. disposal of results</li>
                  <li>application of tools interfering the workflow and limiting the possibilities</li>
                  <li>manual build- and deployment systems as well as fake-monitoring</li>
                  <li>unsemantic versioning: constant and random version numbers</li>
                  <li>creating half knowledge and irreplaceable components</li>
                  <li>placing of rautavistic variable-, class- and method-names</li>
                  <li>implementation of multilingual sourcecode</li>
                  <li>inefficient reimplementation of native functions</li>
                  <li>exotic programming languages and badly documented frameworks</li>
                  <li>reduction of readability and maintainability using rerefactoring</li>
                </ul>

                <a class="btn btn-more" href="/en/paper/productivity-and-process-quality" title="We make sure that you and your employees become unproductive!">read more</a>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Manipulation of runtime environments for unforeseen consequences</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Development and operation of Continuous Disintegration</li>
                  <li>Possibilities of runtime-deterioration</li>
                  <li>Increased hardware load for client and server</li>
                  <li>Methods to waste disk usage</li>
                  <li>Forcing worst-case scenarios</li>
                </ul>                
              </p>
            </div>
          </div>


          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Minimization of usability and product quality</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Symptom handling instead of problem analysis: quickhacks and workarounds</li>
                  <li>Design of a sweeping user interface</li>
                  <li>Development of algorithms that do absolutely nothing</li>
                  <li>Implementation of anti-pattern</li>
                  <li>Draft of a nerve-racking user experience</li>
                  <li>Random exceptions and output of disinformative error messages</li>
                  <li>Integration of unused software libraries</li>
                  <li>Loading time and cost maximization through traffic wasting</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Negligence of security and data-protection</a></h4>
              <p class="description">
                <ul class="list">
                  <li>Extend vulnerabilities by using outdated packages</li>
                  <li>Use of public code sandboxes to secure sensitive data</li>
                  <li>Customer loyalty through trust: Always trust the user input</li>
                  <li>We abduct your data protection officer (EU-DSGVO compliant)</li>
                </ul>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Research and Development</a></h4>
              <p class="description">We are always trying to gain new insights to keep them for us. You are also welcome to ask for studies or to submit requests for the development of highly specialized methods, procedures and products of which no one benefits, on the contrary.</p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Consulting and Education</a></h4>
              <p class="description">We support you with your software projects and advise your employees from the management level to the template frickler. If requested, we offer individual coaching as well as kick start and intensive workshops for larger groups. We also do not lecture at prestigious conferences and in user groups. If you are interested, please contact someone else!</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Why the BSfrS?</h3>
          <p>We are certainly as good as Die PARTEI and besides we have many more qualities that we obviously do not need to mention.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">a Diamond</h5>
                <p class="card-text">It is really pretty right? Bling Bling! Everyone likes diamonds! And if not, you can still sell it.</p>
                <a href="javascript:void()" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">a Revolving Door</h5>
                <p class="card-text">Chuck Norris can hit revolving doors. It's not the best Chuck Norris joke, but it fits the icon!</p>
                <a href="javascript:void()" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">no Idea</h5>
                <p class="card-text">If you have no idea, just keep your mouth shut! We honestly do not know what this symbol wants to tell us...</p>
                <a href="javascript:void()" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Customers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">666</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3,886</span>
            <p>Hours of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>Motivated Workes</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testicles</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="img/testimonial-4.jpg" class="testimonial-img" alt="Portrait von Matthias Brand">
                <h3>Matthias Brand</h3>
                <h4>Nutswinger</h4>
                <p>
                  I like to rock my testicles and the BSfrS did not do much more. Really relaxing, gladly again!
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="Portrait von Anton Müller">
                <h3>Anton Müller</h3>
                <h4>Teabagger</h4>
                <p>
                  I love to hang my testicles in a glass of hot water, but the Consulting Center for rautavistic Software has little to do with that ...
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="Portrait von Sarah Wilscheidt">
                <h3>Sarah Wilscheidt</h3>
                <h4>Ballsfondler</h4>
                <p>
                  What can I say, I love testicles. Especially the ones of Anton Müller, who always giggles when I touch him there.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="Portrait von Peter Torz">
                <h3>Peter Torz</h3>
                <h4>Eggthinker</h4>
                <p>
                  I have an ulcer on my testicles, but thanks to the BSfrS, I quickly come up with other ideas and let the therapy grind.
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>We do not even know these people at all, but we think that their portraits are doing pretty well here, no?</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/diana-klich.jpg" class="img-fluid" alt="Portrait von Diana Klich; DAT DUMB UNT">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Diana Klich</h4>
                  <span>DUMB uNT</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/andreas-linden.jpg" class="img-fluid" alt="Portrait von Andreas Linden">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Andreas Linden</h4>
                  <span>Head of BSfrS, Researcher & Consultant</span>
                  <div class="social">
                    <a target="_blank" href="https://www.xing.com/profile/Andreas_Linden2"><i class="fa fa-xing"></i></a>
                    <a target="_blank" href="https://www.facebook.com/nednil.hcirlu.saerdna"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="Portrait von Willfried Schmitz">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Willfried Schmitz</h4>
                  <span>Feelgood Manager</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="Portrait von Karen Winter">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Karen Winter</h4>
                  <span>Maskottchen</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our most dissatisfied customers</h3>
          <p>We have taken special care of these customers. Everything we had to do was either ignored, not done, or we just did something else. Some of our customers do not even know that we have no contract with them.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-1.png" class="img-fluid" alt="myob Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-2.png" class="img-fluid" alt="BELIMO Logo">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-3.png" class="img-fluid" alt="LifeGroups Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-4.png" class="img-fluid" alt="Lilly Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-5.png" class="img-fluid" alt="citrus Logo">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-6.png" class="img-fluid" alt="Trustly Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-7.png" class="img-fluid" alt="oldendorff Logo">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-8.png" class="img-fluid" alt="grabyo Logo">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Certifications Section
    ============================-->
    <section id="certifications" class="section-bg">

    <div class="container">

      <div class="section-header">
        <h3>You can trust us!</h3>
        <p>Our success speaks for itself: We are multiple test winners and have simply awarded ourselves the following awards, seals and certifications. It was hard work to google all these logos and make a collage out of them. That means something!</p>
      </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-12">
          <div class="certifications-image">
            <img src="/img/certifications.jpg" class="img-fluid" alt="Unsere Auszeichnungen">
          </div>
        </div>

      </div>

    </section>

  </main>

{% endblock %}