<!DOCTYPE html>
<html lang="{% block language %}de{% endblock %}">
<head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144478449-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-144478449-1');
  </script>

  <!-- Pagemeta -->

  <meta rel="basepath" href="{% block basepath %}/{% endblock %}" />

  <meta charset="utf-8">
  <title>{% block title %}BSfrS - Die Beratungsstelle für rautavistische Software{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="{% block keywords %}Rautavistik, rautavistische Software, Software Entwicklung, Softwareentwicklung{% endblock %}" name="keywords">
  <meta content="{% block description %}Die BSfrS unterstützt sie bei ihren rautavistischen Software Projekten.{% endblock %}" name="description">
  <link rel="alternate" hreflang="de" href="{% block alternate_de %}https://www.bsfrs.de{% endblock %}"/>
  <link rel="alternate" hreflang="en" href="{% block alternate_en %}https://www.bsfrs.de/en{% endblock %}"/>
  <link rel="alternate" hreflang="x-default" href="{{ block('alternate_en') }}"/>

  <!-- Facebook -->
  <meta property="og:url" content="{% block og_url %}https://www.bsfrs.de/{% endblock %}" />
  <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
  <meta property="og:title" content="{% block og_title %}BSfrS - Beratungsstelle für rautavistische Software{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}Es ist davon auszugehen, dass alles fertig ist wenn es erledigt wurde.{% endblock %}" />
  <meta property="og:image" content="{% block og_image %}https://www.bsfrs.de/img/facebook-post-de.png{% endblock %}" />

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico" alt="BSfrS Logo">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico"  alt="BSfrS Logo">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png" alt="BSfrS Logo">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png"  alt="BSfrS Logo">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png" alt="BSfrS Logo">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png" alt="BSfrS Logo">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" alt="BSfrS Logo">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" href="/favicon-57.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png" alt="BSfrS Logo">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png" alt="BSfrS Logo">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicon-144.png" alt="BSfrS Logo">
  <meta name="msapplication-config" content="/browserconfig.xml">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="/lib/cookie-popup/css/cookie-popup.css" rel="stylesheet">
  {% block stylesheets %}{% endblock %}
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <a href="#intro" class="scrollto"><img src="/favicon-120.png" alt="BSfrS Logo" class="logo"></a>
        <h1 class="brand text-light"><a href="{{ block('basepath') }}#intro"><span>BSfrS</span></a></h1>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          {% block topnav %}
          <li class="active"><a data-target="intro" href="/#intro">Home</a></li>
          <li><a data-target="about" href="/#about">Über uns</a></li>
          <li><a data-target="services" href="/#services">Leistungen</a></li>
          <li><a data-target="team" href="/#team">Team</a></li>
          <li><a data-target="clients" href="/#clients">Kunden</a></li>
          <li><a class="language" href="{{ block('alternate_en') }}" title="read english version"><img src="/img/en.png" alt="EN"> english</a></li>
          {% endblock %}
        </ul>
      </nav>
      
    </div>
  </header>

  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>BSfrS</h3>
            <p>
              {% block bottomline %}Es ist davon auszugehen, dass alles fertig ist wenn es erledigt wurde. Das können wir allerdings nicht versprechen, denn man bekommt leider nicht immer das was man kriegt.{% endblock %}
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              {% block bottomnav %}
              <li><a href="/#about">Über us</a></li>
              <li><a href="/#services">Leistungen</a></li>
              <li><a href="/#team">Team</a></li>
              <li><a href="/#clients">Kunden</a></li>
              <li><a href="/datenschutz">Datenschutz</a></li>
              {% endblock %}
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Ihr Ansprechpartner</h4>
            <p>
              Andreas Linden<br/>
              56564 Neuwied<br/>
              Deutschland <br/>
              andreas.linden@bsfrs.de<br/>
            </p>

            <div class="social-links">
              <a target="_blank" href="https://twitter.com/BSfrS_official" class="twitter"><i class="fa fa-twitter"></i></a>
              <a target="_blank" href="https://www.facebook.com/BSfrS.official" class="facebook"><i class="fa fa-facebook"></i></a>
              <a target="_blank" href="https://www.instagram.com/bsfrs.official/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a target="_blank" href="https://www.xing.com/profile/Andreas_Linden2" class="xing"><i class="fa fa-xing"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Unser Newsletter</h4>
            <p>
              {% block newsletter %}Wir versenden keine Newsletter und das Formular tut auch nichts, aber sie können dennoch gerne mal Ihre E-Mail Adresse eintragen und auf den Knopf drücken.{% endblock %}
            </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="button" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copypaste 2019 <strong>BSfrS</strong>. All Rights Lost.
      </div>
      <div class="credits">

      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/mobile-nav/mobile-nav.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/cookie-popup/js/cookie-popup.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
