{% block basepath %}/en{% endblock %}

{% block topnav %}
<li class="active"><a data-target="intro" href="/en#intro">Home</a></li>
<li><a data-target="about" href="/en#about">About us</a></li>
<li><a data-target="services" href="/en#services">Services</a></li>
<li><a data-target="team" href="/en#team">Team</a></li>
<li><a data-target="clients" href="/en#clients">Clients</a></li>
<li><a class="language" href="{{ block('alternate_de') }}" title="Deutsche Version lesen"><img src="/img/de.png" alt="DE"> deutsch</a></li>
{% endblock %}


{% block bottomnav %}
<li><a href="/en#about">About us</a></li>
<li><a href="/en#services">Services</a></li>
<li><a href="/en#team">Team</a></li>
<li><a href="/en#clients">Clients</a></li>
<li><a href="/en/datenschutz">Dataprotection</a></li>
{% endblock %}


{% block newsletter %}We do not send any newsletters and the form does not do anything, but you are welcome to enter your e-mail address and press the button.{% endblock %}
{% block bottomline %}It can be assumed that everything is done when it's done. We can not promise that, because unfortunately you do not always get what you receive.{% endblock %}